
/* input username */
.email {
    background-color: black;
    color: white;
}

.email:focus-within {
    background-color: gray;
    color: white;
    cursor: pointer;
}

/* input password */
.password {
    background-color: black;
    color: white;
}

.password:focus-within {
    background-color: gray;
    color: white;
    cursor: pointer;
}

/* mensajes de errores */

.error-option{
    margin-top: -1px;
}

/* boton submit */

#button-submit {
    width: 80px;
    height: 40px;
}